﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="InternetYemekhane2A.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 900px;
        }
        .auto-style2 {
            width: 900px;
            height: 150px;
            float: inherit;
        }
        .auto-style4 {
            text-align: center;
            height: 30px;
        }
        .auto-style5 {
            height: 150px;
        }
        .auto-style6 {
            height: 23px;
        }
        .auto-style7 {
            text-align: left;
            height: 30px;
            width: 271px;
        }
        .auto-style8 {
            text-align: right;
        }
        .auto-style9
        {
            width: 900px;
            height: 600px;
        }
        .auto-style11 {
            text-align: center;
        }
        .auto-style12 {
            width: 189px;
            margin-bottom: 0px;
            height: 40px;
        }
    </style>
</head>
<body style="text-align: center">
    <form id="form1" runat="server">
        &nbsp;&nbsp;&nbsp;
        <table class="auto-style1" align="center">
            <tr>
                <td colspan="4" class="auto-style5">
                    <img alt="" class="auto-style2" src="asdds/banner.jpg" /></td>
            </tr>
            <tr>
                <td colspan="4" class="auto-style8">
                    <asp:Label ID="Label1" runat="server" Text="Kullanıcı No :"></asp:Label>
&nbsp;&nbsp;&nbsp;
                    <asp:TextBox ID="txtKullanici" runat="server" OnTextChanged="TextBox1_TextChanged"></asp:TextBox>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                    <asp:Button ID="Btngiris" runat="server" Text="GİRİŞ" OnClick="Btngiris_Click1" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br />
                    <table class="auto-style12">
                        <tr>
                            <td class="auto-style11">
                                <asp:Label ID="lblsayac" runat="server" Text="1"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;
                                <asp:Button ID="Button6" runat="server" style="margin-left: 0px" Text="YEMEK ARAMA" Width="110px" OnClick="Button6_Click" />
                            </td>
                        </tr>
                    </table>
                    <asp:Label ID="Label2" runat="server" Text="Şifre :"></asp:Label>
&nbsp;&nbsp;&nbsp;
                    <asp:TextBox ID="txtSifre" runat="server" TextMode="Password"></asp:TextBox>
&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Button ID="Btnkayit" runat="server" Text="KAYIT OL" OnClick="Btnkayit_Click1" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
                    <asp:Label ID="lblHata" runat="server"></asp:Label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
            </tr>
            <tr>
                <td class="auto-style4">
                    <asp:Button ID="Button1" runat="server" Text="ANASAYFA" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Overline="False" Font-Strikeout="False" Font-Underline="True" OnClick="Button1_Click" />
                </td>
                <td class="auto-style4">
                    <asp:Button ID="txthakkimizda" runat="server" Text="HAKKIMIZDA" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" OnClick="txthakkimizda_Click" />
                </td>
                <td class="auto-style4">
                    <asp:Button ID="Button3" runat="server" Text="YEMEK LİSTESİ" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" OnClick="Button3_Click" />
                </td>
                <td class="auto-style7">
                    <asp:Button ID="Button4" runat="server" Text="İLETİŞİM" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" OnClick="Button4_Click" />
                </td>
            </tr>
            <tr>
                <td colspan="4" class="auto-style6">
                    <img alt="" class="auto-style9" src="asdds/yemekhane.jpg" /></tr>
        </table>
    </form>
</body>
</html>
