﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Hakkimizda.aspx.cs" Inherits="InternetYemekhane2A.Hakkimizda" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
<style type="text/css">
        .auto-style1 {
            width: 900px;
        }
        .auto-style2 {
            width: 900px;
            height: 150px;
            float: inherit;
        }
        .auto-style4 {
            text-align: center;
            height: 30px;
        }
        .auto-style6 {
            height: 305px;
        }
        .auto-style7 {
            text-align: left;
            height: 30px;
            width: 271px;
        }
        .auto-style8 {
            text-align: right;
        }
    .auto-style9 {
        width: 100%;
        height: 271px;
    }
    .auto-style12 {
        width: 202px;
    }
    .auto-style13 {
        text-align: left;
    }
    </style>
</head>
<body style="text-align: center">
    <form id="form1" runat="server">
        <table class="auto-style1" align="center"4" class="auto-style5">
                    <img alt="" class="auto-style2" src="asdds/banner.jpg" /></td>
            </tr>
            <tr>
                <td colspan="4" class="auto-style8">
                    <br>
                    <br />
                    </br>
                    &nbsp;&nbsp;&nbsp;&nbsp; </td>
            </tr>
            <tr>
                <td class="auto-style4">
                    &nbsp;</td>
                <td class="auto-style4">
                    <asp:Label ID="Label1" runat="server" Font-Italic="True" Font-Names="Arial" Font-Size="XX-Large" ForeColor="Red" Text="Hakkımızda"></asp:Label>
                </td>
                <td class="auto-style4">
                    &nbsp;</td>
                <td class="auto-style7">
                    &nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" class="auto-style6">
                    <table class="auto-style9">
                        <tr>
                            <td class="auto-style12">
                                &nbsp;</td>
                            <td class="auto-style13">
                                bu sadece bir projeden ibarettir...<br />
                                üç arkadaş birlikte yapmaktadırlar.</td>
                            <td>
                                &nbsp;</td>
                        </tr>
                        </table>
                    <br />
                    </tr>
        </table>
    </form>
</body>
</html>
