﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ilet.aspx.cs" Inherits="InternetYemekhane2A.ilet" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <form>
   <head runat="server">
   <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 900px;
        }
        .auto-style2 {
            width: 900px;
            height: 150px;
            float: inherit;
        }
        .auto-style4 {
            text-align: center;
            height: 30px;
        }
        .auto-style5 {
            height: 150px;
        }
        .auto-style7 {
            text-align: left;
            height: 30px;
            width: 271px;
        }
        .auto-style8 {
            text-align: right;
        }
        .auto-style10 {
            width: 53%;
            height: 249px;
        }
        </style>
</head>
<body style="text-align: center">
    <form id="form2" runat="server">
        <table class="auto-style1" align="center">
            <tr>
                <td colspan="4" class="auto-style5">
                    <img alt="" class="auto-style2" src="asdds/banner.jpg" /></td>
            </tr>
            <tr>
                <td colspan="4" class="auto-style8">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td class="auto-style4">
                    <asp:Button ID="btnAnasayfa" runat="server" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" Text="ANASAYFA" />
                </td>
                <td class="auto-style4">
                    <asp:Button ID="Button2" runat="server" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" Text="HAKKIMIZDA" />
                </td>
                <td class="auto-style4">
                    <asp:Button ID="Button3" runat="server" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" Text="YEMEKLİSTESİ"/>
                </td>
                <td class="auto-style7">
                    <asp:Button ID="Button4" runat="server" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" Text="İLETİŞİM" />
              </td>
    <div>
    
    </div>
    </table>
        <table class="auto-style10" align="center">
            <tr>
                <td>Adınız</td>
                <td>
                    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>Soyadınız</td>
                <td>
                    <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>Düşünceleriniz</td>
                <td>
                    <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <asp:Button ID="Button5" runat="server" Text="GÖNDER" />
                </td>
            </tr>
        </table>
    </form>

</body>
</html>
