﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="siparis.aspx.cs" Inherits="InternetYemekhane2A.siparis" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
<style type="text/css">
        .auto-style1 {
            width: 900px;
        height: 204px;
    }
        .auto-style2 {
            width: 900px;
            height: 150px;
            float: inherit;
        }
        .auto-style4 {
            text-align: center;
            height: 30px;
        }
        .auto-style5 {
            height: 150px;
        }
        .auto-style7 {
            text-align: left;
            height: 30px;
            width: 271px;
        }
        .auto-style8 {
            text-align: right;
        }
        .auto-style9 {
        height: 428px;
    }
    .auto-style10 {
        width: 338px;
        height: 331px;
    }
    .auto-style11 {
        text-align: left;
    }
    </style>
</head>
<body style="text-align: center">
    <form id="form1" runat="server">
        &nbsp;&nbsp;&nbsp;
        <table class="auto-style1" align="center">
            <tr>
                <td colspan="4" class="auto-style5">
                    <img alt="" class="auto-style2" src="asdds/banner.jpg" /></td>
            </tr>
            <tr>
                <td colspan="4" class="auto-style8">
                   
                    <asp:Button ID="Btnkayit" runat="server" Text="KAYIT OL"  />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
                    <asp:Label ID="lblHata" runat="server"></asp:Label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
            </tr>
            <tr>
                <td class="auto-style4">
                    <asp:Button ID="Button1" runat="server" Text="ANASAYFA" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Overline="False" Font-Strikeout="False" Font-Underline="True"  />
                </td>
                <td class="auto-style4">
                    <asp:Button ID="txthakkimizda" runat="server" Text="HAKKIMIZDA" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True"  />
                </td>
                <td class="auto-style4">
                    <asp:Button ID="Button3" runat="server" Text="YEMEK LİSTESİ" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True"  />
                </td>
                <td class="auto-style7">
                    <asp:Button ID="Button4" runat="server" Text="İLETİŞİM" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True"  />
                </td>
            </tr>
            <tr>
                <td colspan="4" class="auto-style9">
                    <table align="center" class="auto-style10">
                        <tr>
                            <td class="auto-style11" colspan="3">Sipariş vermek istediğiniz yemeği aşağıdaki boş kutuya yazarak aratabilirsiniz.</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <asp:Button ID="Button5" runat="server" Text="ARA" />
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </tr>
        </table>
    </form>
</body>
</html>
