﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Uyegirisi.aspx.cs" Inherits="InternetYemekhane2A.Uyegirisi" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:DataList ID="DataList1" runat="server" OnSelectedIndexChanged="DataList1_SelectedIndexChanged" BorderColor="#0033CC" Font-Bold="False" Font-Size="Large" ForeColor="#0033CC" style="text-align: center">
            <HeaderTemplate>
                            <table border="1" Width="500px" Height="600px">
                                <tr>
                                    <td>ID</td>
                                    <td>Yemek Adı</td>
                                    <td>Fiyatı</td>
                                </tr>
                        </HeaderTemplate>
                        <ItemTemplate>

                           
                                <tr>
                                   <td><%# Eval("ID") %></td>
                                     <td><%# Eval("YemekAdi") %></td>
                                    <td><%# Eval("Fiyati") %></td>                              
 
                                </tr>


                          

                        </ItemTemplate>
                        <FooterTemplate>
                            </table>
                        </FooterTemplate>
        </asp:DataList>
    
        <asp:Label ID="lblMesaj" runat="server" Text="Label"></asp:Label>
    
    </div>
    </form>
</body>
</html>
