﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Yemek.aspx.cs" Inherits="InternetYemekhane2A.Yemek" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 900px;
        }
        .auto-style2 {
            width: 900px;
            height: 150px;
            float: inherit;
        }
        .auto-style4 {
            text-align: center;
            height: 30px;
        }
        .auto-style5 {
            height: 150px;
        }
        .auto-style7 {
            text-align: left;
            height: 30px;
            width: 271px;
        }
        .auto-style8 {
            text-align: right;
        }
        .auto-style9 {
            width: 31%;
        }
        .auto-style10 {
            height: 16px;
            width: 748px;
        }
        .auto-style11 {
            text-align: left;
            width: 748px;
        }
        </style>
</head>
<body style="text-align: center">
    <form id="form1" runat="server">
        <table class="auto-style1" align="center">
            <tr>
                <td colspan="4" class="auto-style5">
                    <img alt="" class="auto-style2" src="asdds/banner.jpg" /></td>
            </tr>
            <tr>
                <td colspan="4" class="auto-style8">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td class="auto-style4">
                    <asp:Button ID="btnAnasayfa" runat="server" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" Text="ANASAYFA" OnClick="Button1_Click" />
                </td>
                <td class="auto-style4">
                    <asp:Button ID="Button2" runat="server" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" Text="HAKKIMIZDA" />
                </td>
                <td class="auto-style4">
                    <asp:Button ID="Button3" runat="server" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" Text="YEMEKLİSTESİ" OnClick="Button3_Click" />
                </td>
                <td class="auto-style7">
                    <asp:Button ID="Button4" runat="server" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" Text="İLETİŞİM" />
                </td>
            </tr>
            </table>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
        <table align="center" class="auto-style9">
            <tr>
                <td class="auto-style11">
                    &nbsp;&nbsp;&nbsp;
                    <asp:Repeater ID="Repeater1" runat="server" OnItemCommand="Repeater1_ItemCommand">
                       <HeaderTemplate>
                            <table border="3" Width="500px" Height="600px">
                                <tr>
                                    <td>ID</td>
                                    <td>Yemek Adı</td>
                                </tr>
                        </HeaderTemplate>
                        <ItemTemplate>

                           
                                <tr>
                                   <td><%# Eval("ID") %></td>
                                     <td><%# Eval("YemekAdi") %></td>
                                    
                                    



                                </tr>


                          

                        </ItemTemplate>
                        <FooterTemplate>
                            </table>
                        </FooterTemplate>



                    </asp:Repeater>
                </td>
            </tr>
            <tr>
                <td class="auto-style10"></td>
            </tr>
            <tr>
                <td class="auto-style10">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style10">&nbsp;</td>
            </tr>
        </table>
    </form>
</body>
</html>