﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="YemekArama.aspx.cs" Inherits="InternetYemekhane2A.YemekArama1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
<style type="text/css">
        .auto-style1 {
            width: 900px;
        }
        .auto-style2 {
            width: 900px;
            height: 150px;
            float: inherit;
        }
        .auto-style4 {
            text-align: center;
            height: 30px;
        }
        .auto-style6 {
            height: 305px;
        }
        .auto-style7 {
            text-align: left;
            height: 30px;
            width: 271px;
        }
        .auto-style8 {
            text-align: right;
        }
    .auto-style9 {
        width: 100%;
        height: 271px;
    }
    .auto-style11 {
        width: 200px;
    }
    .auto-style12 {
        width: 202px;
    }
    .auto-style14 {
        width: 200px;
        height: 67px;
    }
    .auto-style17
    {
        width: 200px;
        height: 63px;
    }
    </style>
</head>
<body style="text-align: center">
    <form id="form1" runat="server">
        <table class="auto-style1" align="center"4" class="auto-style5">
                    <img alt="" class="auto-style2" src="asdds/banner.jpg" /></td>
            </tr>
            <tr>
                <td colspan="4" class="auto-style8">
                    <br>
                    <br />
                    </br>
                    &nbsp;&nbsp;&nbsp;&nbsp; </td>
            </tr>
            <tr>
                <td class="auto-style4">
                    <asp:Button ID="Button1" runat="server" Text="ANASAYFA" Width="200px" Height="35px" OnClick="Button1_Click" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" />
                </td>
                <td class="auto-style4">
                    <asp:Button ID="Button2" runat="server" Text="HAKKIMIZDA" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" OnClick="Button2_Click" />
                </td>
                <td class="auto-style4">
                    <asp:Button ID="Button3" runat="server" Text="YEMEK LİSTESİ" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" OnClick="Button3_Click" />
                </td>
                <td class="auto-style7">
                    <asp:Button ID="Button4" runat="server" Text="İLETİŞİM" Width="200px" Height="35px" BorderStyle="Outset" Font-Bold="True" Font-Underline="True" />
                </td>
            </tr>
            <tr>
                <td colspan="4" class="auto-style6">
                    <table class="auto-style9">
                        <tr>
                            <td class="auto-style12" rowspan="4">
                                &nbsp;</td>
                            <td class="auto-style11">
                                <asp:Label ID="Label1" runat="server" Text="Yemek No :"></asp:Label>
                            </td>
                            <td class="auto-style11">
                                <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                            </td>
                            <td rowspan="4">
                                &nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style17">
                                <asp:Label ID="Label2" runat="server" Text="Yemek Adı :"></asp:Label>
                            </td>
                            <td class="auto-style17">
                                <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style14">
                                &nbsp;</td>
                            <td class="auto-style14">
                                &nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style11">&nbsp;</td>
                            <td class="auto-style11">
                                <asp:Button ID="ara" runat="server" Text="YEMEK ARA" Width="114px" />
                            </td>
                        </tr>
                    </table>
                    <br />
                    </tr>
        </table>
    </form>
</body>
</html>